:root {
    --primary-color: #f4f4f4;
    --font-color: #515151
}

header {
    background-color: #68B984;
    color: #FFFFFF;
    padding: 30px;
    width: auto;
    text-align: center;
}

body {
    font-family: Roboto,sans-serif;
    background-color: var(--primary-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.expenseTracker {
    margin: 0;
    width: 350px;
}

.balanceContainer {
    margin: 50px 0;
    text-align: center;
}

.incExpContainer {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(125,125,125,0.77);
    margin: 30px 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.incExpContainer > div {
    flex: 1;
    text-align: center;
}

.incContainer {
    border-right: 1px solid #c0c2cb;
}

h1.title {
    font-size: 24px;
    font-weight: 550;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.moneyInc {
    color: #68B984;
    margin-top: 10px;
}

.moneyExp {
    color: red;
    margin-top: 10px;
}

.historicData > h3 {
    margin: 30px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c2cb;
}

.newTransaction > h3 {
    margin: 30px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c2cb;
}

.formAddTransaction {
    margin: 20px 0px;
}

label {
 font-size: 15px;
}

input[type='text'],
input[type='number'] {
    padding: 9px;
    border: 1px solid #c0c2cb;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    width: 95%;
    margin-top: 10px;
}

.buttonTransaction {
    font-size: 16px;
    color: white;
    background-color: #68B984;
    padding: 14px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(125,125,125,0.77);
    cursor: pointer;
}

.moneyMovements li {
    padding: 8px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(125,125,125,0.77);
    border-radius: 5px;
    font-size: 14px;
}

.moneyMovements li.inc {
    border-left: 6px solid #68B984;
}

.moneyMovements li.exp {
    border-left: 6px solid red;
}

span {
    display: flex;
    align-items: center;
    margin-left: 5cm;
    text-decoration: underline;
}

.delete-button {
    font-size: 9px;
    color: white;
    background-color: var(--primary-color);
    padding: 2px;
    border: 0;
    border-radius: 5px;
    width: 6%;
    box-shadow: 0px 1px 3px rgba(125,125,125,0.77);
    cursor: pointer;
}